$green: #70b744;
$pink: #af4097;
$orange: #e75a24;
$purple: #353187;
$dark-slate: #666666;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #fdfdfd;
$black: #000;
$white: #fff;

$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;

@import url("http://fonts.cdnfonts.com/css/lemonmilk");
@import url("http://fonts.cdnfonts.com/css/billy-ohio");

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}
