@import "../../node_modules/rfs/sass.sass";
#team {
	position: relative;
	background-color: rgba(0, 0, 0, 0.05);
}
.team_wrapper {
	max-width: 800px;
	padding: 20px 10px;
	margin-left: auto;
	margin-right: auto;
}
.team-intro {
	text-align: center;
}
.team_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
.member_name {
	align-items: center;
	display: flex;
	padding: 10px 0 0 0;
	justify-content: space-between;
	h1 {
		@include font-size(16px);
		letter-spacing: 1.5px;
	}
}
.social_icons {
	a {
		padding-right: 5px;
	}
	a:last-child {
		padding-right: 0;
	}
}
.member_role {
	h2 {
		@include font-size(10px);
	}
}

/********************************RESPONSIVNESS QUERY/ MEDIA QUERY****************************************/
@media (max-width: 767px) {
	.member_name {
		h1 {
			@include font-size(8px);
		}
		h2 {
			@include font-size(8px);
		}
		svg {
			font-size: 15px;
		}
	}
	.team_container {
		grid-gap: 10px;
	}
}
